*
{
    margin: 0px;
    padding: 0px;
    font-family:  cursive;
    box-sizing: border-box;
}
body
{
    background-color: rgb(30, 54, 60);
    background-image: url("stopwatch.png");
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.box
{
    background-color:rgb(201, 220, 220);
    height: fit-content;
    width: fit-content;
    padding: 60px;
    border-radius: 50px 10px 50px 10px;
    box-shadow: 5px 5px 10px rgb(133, 12, 155);
    /* color: blue; */

}
.heading
{
    padding-bottom: 20px;
    color: rgb(156, 10, 218);
    text-align: center;
}
h1
{
    font-size: 50px;
    /* align-items: center; */
}
button
{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
}